on:
  push:
    tags:
    - 'v*'

name:

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Prepare Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y lsb-core cmake curl wget libelf-dev
          sudo bash -s < <(curl -s  https://raw.githubusercontent.com/dutor/nebula-gears/master/install)
          sudo install-gcc --version=9.2.0
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Build project
        run: |
          source /opt/vesoft/toolset/gcc/9.2.0/enable
          mkdir build && cd build
          cmake ..
          make package
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Nebula Gears ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./nebula-gears-installer.sh
          asset_name: nebula-gears-installer.sh
          asset_content_type: application/x-sh
